/* root */
:root {

    --color-white:    #fff    ;
    --color-gray-50:  #FAFAFA ;
    --color-gray-100: #F5F5F5 ;
    --color-gray-200: #EEEEEE ;
    --color-gray-300: #E0E0E0 ;
    --color-gray-400: #BDBDBD ;
    --color-gray-500: #9E9E9E ;
    --color-gray-600: #757575 ;
    --color-gray-700: #616161 ;
    --color-gray-800: #424242 ;
    --color-gray-900: #212121 ;
    --color-gray-1000:#191919 ;
    --color-black:    #000    ;

    /* colors */
    --color-yellow: #FEDC04;
    --color-blue: #1C56E8;
    --color-red: #e61d2b;

    /* theme */
    --color-primary: var(--color-red);
    --color-secondary: var(--color-blue);
    --color-warning: var(--color-yellow);

    /* bgs */
    --bg-color-primary: white;
    --bg-color-secondary: black;

    /* fonts */
    --color-font-100: white;

    --color-font-150: #F2F2F2;
    --color-font-200: #DDD;
    --color-font-250: #C4C4C4;

    --color-font-300 : #AAA;
    --color-font-350 : #A7A7A7;

    --color-font-400: #9D9D9D;
    --color-font-500: #707070;

    --color-font-900: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 95%;
	max-width: 1747px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #212121;
	padding: 5px 0;
	margin-bottom: 20px;
	font-family: 'FontCMSBLOGSans-Regular';
}

.menu .contenedor-botones-menu {
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.distanciaicono{ 
	margin-top: 10px;
}
.disrec{
	margin-bottom: 5px;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 16px;
	cursor: default;
}

.menu .btn-departamentos span {
	margin-left: 10px;
	position: relative;
	bottom: 3px;
	margin-bottom: 0.1em;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span.textSecciones {
	margin-left: 0px;
	position: relative;
	bottom: 3px;
	margin-bottom: 0.1em;
	display: block;
	font-size: 20px;
}

.menu .contenedor-enlaces-nav .enlaces  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu .contenedor-enlaces-nav .enlaces a {
	width: 36px;
	height: 36px;
	margin-right: 5px;
	margin-left: 5px;
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,.10);
}

body.dark .grid > div {
    background: var(--color-gray-900);
	box-shadow: 0px 2px 3px rgba(231, 231, 231, 0.1);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #212121;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar span {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a span {
	display: none;
}

.grid .categorias a:hover {
	color: var(--color-red);
	font-weight: bold;
}

.grid .categorias a:hover span {
	display: inline-block;
}

body.dark .grid .categorias a {
    color: var(--color-white);
}

body.dark .grid .categorias a:hover {
    color: var(--color-red);
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: var(--color-red);
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: var(--color-gray-500);
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}

body.dark .grid .enlaces-subcategoria a {
    color: var(--color-white);
}

body.dark .grid .enlaces-subcategoria a:hover {
    color: var(--color-red);
}


/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #212121;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos span.icono {
		position: static;
		margin-left: 0px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: flex;
		align-content: center;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}